<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matomo 4 Plugins</title>
    <link rel="stylesheet" href="/libs/bootstrap.min.css">
    <style>
		.matomo3 {
			background: lightcoral;
		}

		.matomo4 {
			background: lightgreen;
		}

		.version {
			position: absolute;
			top: 5px;
			right: 5px;
		}

		.supports {
			position: absolute;
			bottom: 5px;
			right: 5px;
		}

		.byMatomo {
			font-weight: bold;
		}

		.card, .progress {
			margin-bottom: 1rem;
		}

		svg {
			width: 16px;
			height: 16px;
		}

		footer {
			display: flex;
			justify-content: space-between;

		}

		footer span, footer a {
			display: block;
		}

		.blockquote {
			border-left: solid 5px #515050;
			padding-left: 10px;
		}
    </style>
</head>
<body>
<div class="container">
    <h1 class="mt-5">Matomo Plugins</h1>
    <p class="lead">Tracking the current progress in making all Matomo plugins support Matomo 4!</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ fraction }}%;" aria-valuenow="{{ fraction }}"
             aria-valuemin="0" aria-valuemax="100">
            {{ supported }} of {{ supported + unsupported }}
        </div>
    </div>
    {% for name,plugin in plugins.items() %}
        <div class="card {% if plugin.supports4 %}matomo4{% else %}matomo3{% endif %}">
            <div class="card-body">
                <div class="supports">{% if plugin.supports4 %}✓{% else %}✗{% endif %}</div>
                <h5 class="card-title">
                    <a href="https://plugins.matomo.org/{{ name }}" target="marketplace" rel="noopener">
                        {{ name }}
                    </a>
                    {% if plugin.repositoryUrl %}
                        <a href="{{ plugin.repositoryUrl }}" target="github" rel="noopener">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                <!-- Source: Simplified from https://github.com/logos -->
                                <title>Source</title>
                                <path fill-rule="evenodd"
                                      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                                      style="fill: currentcolor;"></path>
                            </svg>
                        </a>
                    {% endif %}
                </h5>
                <div class="version text-muted">{{ plugin.latestVersion }}</div>
                <p class="card-text">
                    by
                    {% for author in plugin.authors %}
                        <a href="{{ author.homepage }}" class="{% if author.name == "Matomo" %}byMatomo{% endif %}"
                           target="homepage" rel="noopener">
                            {{ author.name }}{% if not loop.last %},{% endif %}
                        </a>
                    {% endfor %}
                </p>
                {% if plugin.isTheme %}
                    <p><strong>Theme</strong></p>
                {% endif %}
                <dl class="row">
                    {% if plugin.numDownloads %}
                        <dt class="col-sm-3">Downloads</dt>
                        <dd class="col-sm-9">{{ plugin.numDownloads }}</dd>
                    {% endif %}
                    <dt class="col-sm-3">Last updated</dt>
                    <dd class="col-sm-9">{{ plugin.lastUpdated }}</dd>
                    <dt class="col-sm-3">Supports Versions</dt>
                    <dd class="col-sm-9">{{ plugin.supports_version }}</dd>
                </dl>
                {% if plugin.issue is defined and plugin.issue and not plugin.supports4 %}
                    <p><a href="{{ plugin.issue }}" target="github_issue" rel="noopener">Github issue</a></p>
                {% endif %}
                {% if plugin.note is defined %}
                    <p class="card-text">
                        <strong>Note:</strong> {{ plugin.note|safe }}
                    </p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <footer>
        <a href="https://lw1.at/i">Imprint and Privacy</a>
        <a href="https://github.com/Findus23/matomo4-plugins/tree/{{ commit }}">Source</a>
        <span>Generated at {{ now }}</span>
    </footer>
</div>
</body>
</html>
